.grid-container {
  padding-top: 100px;
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-areas: 'sidebar content content content' 'sidebar content content content' 'footer footer footer footer';
}

.item-1 {
  grid-area: content;
}

.item-2 {
  grid-area: sidebar;
}

.item-3 {
  grid-area: header;
}

.item-4 {
  grid-area: footer;
  background-color: black;
}
